include "reference.conf"

rdbms {

 current = "local"

 local {
  connection-string="jdbc:mysql://localhost:3306?user=root&password="
 }

}

cassandra {

 connection-host = "localhost"

 spark-cleaner-ttl = 3600

}

price-engine {

 response-max-latency = "30 seconds"

}

input {

 range = 10

 nearest-neighbours = 50

}


output {

 path = "/tmp/output.csv"

}
